.content {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    max-width: 90%;
    width: 760px;
}

.intro {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.intro-summary {
    flex-basis: 50%;
}

.intro-photo {
    flex-grow: 1;
    flex-basis: 200px;
    max-width: 200px;
    float: right;
    margin: auto 30px;
}

.job-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.entry-time {
    flex-basis: 20%;
}

.entry-description {
    flex-basis: 75%;
    background-color: rgba(203, 209, 211, .3);
    padding: 15px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    margin: 4px;
    padding: 5px 11px;
    background-color: rgba(203, 209, 211, .3);
}

.activity {
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(203, 209, 211, .3);
}

.activity-title {
    margin-top: 0px;
}

.educations {
    flex-basis: 100%;
}

.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education-year {
    flex-basis: 20%;
    max-width: 20%;
}

.education-descr {
    flex-basis: 75%;
}